@page "/"
@inject RabbitMQProducer service

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>



<EditForm Model="@Model" OnSubmit="(() => Submit())">
    <div>
        <label>
            Name:
            <br />
            <InputTextArea @bind-Value="Model!.Name" />
        </label>
        <br />
        <label>
            Email:
            <br />
            <InputTextArea @bind-Value="Model!.Email" />
        </label>
        <br />
        @* <label>
            Tours:
            <br />
            <InputSelect @bind-Value="Model.Tours">
                @foreach (var t in Enum.GetValues(typeof(Tours)))
                {
                    <option value="@t">@t</option>
                }
            </InputSelect>
        </label> *@
        <br />
        <label>
            Cancel:
            <br />
            <InputCheckbox @bind-Value="Model.Cancel" />
        </label>
        <br />
        <label>
            Book:
            <br />
            <InputCheckbox @bind-Value="Model.Book" />
        </label>
    </div>
    <button type="submit"> Submit</button>
</EditForm>





@code {
    public Tour? Model { get; set; }



    protected override void OnInitialized()
    {
        Model = new Tour();
        Model.Tours = Tours.Denmark;
    }

    private async void Submit()
    {
        if (Model.Cancel)
        {
            await service.Send("Tour.Cancel", Model);
        }
        else
        {
            await service.Send("Tour.Booked", Model);
        }
    }

}