@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject Rab.RabbitMQProducer rabbit
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>






<form method="post" action="@rabbit.Send">
    Company Name:<br />
    <input type="text" name="CompanyName" value="" /><br />
    Contact Name:<br />
    <input type="text" name="ContactName" value="" /><br /><br />
    <input type="submit" value="Submit" class="submit" />
</form>

@{
    
}